/*
  1. Use a more-intuitive box-sizing model.
*/
:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
}

#map {
  width: 100vw;
  height: 65vh;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.marker {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.attribution {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}
.attribution__link {
  display: inline-block;
  text-decoration: none;
  color: pink;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.attribution__link:hover,
.attribution__link:focus {
  transform: scale(1.03) translateY(-2px);
}
.attribution__link:active {
  transform: translateY(0);
}

.information {
  background-color: #333;
  background-size: cover;
  padding: 2rem;
  padding-bottom: 13rem;
  height: 35vh;
}
.information__header {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}
@media (min-width: 1000px) {
  .information__header {
    font-size: 3rem;
  }
  .attribution {
    text-align: left;
  }
}
.information .form {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 65rem;
  margin: 0 auto;
}
.information .form__input-address {
  flex: 1;
  font-size: 1.8rem;
  padding: 1.45rem 1.75rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  border: 0;
  overflow: hidden;
  border: 2px solid transparent;
}
.information .form__btn {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0deg, 0%, 17%);
  border: 0;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.information .form__btn:hover {
  background-color: rgb(72, 142, 72);
}
.information .error-label {
  color: rgb(212, 65, 94);
  padding-top: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
@media (min-width: 700px) {
  .information .error-label {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 65rem;
    margin: 1rem auto;
  }
}
.information .error-input {
  border: 2px solid rgb(212, 65, 94);
}

.popup {
  position: absolute;
  top: 30%;
  z-index: 100;
  background-color: white;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  gap: 1.5rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}
@media (min-width: 1000px) {
  .popup {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 6rem;
    right: 6%;
  }
}
.popup__data-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 1000px) {
  .popup__data-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 1px solid black;
    padding: 1rem;
    padding-right: 4rem;
  }
}
.popup__data-group-label {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 59%);
  font-weight: 700;
  letter-spacing: 2px;
}
.popup__data-group-text {
  font-size: 1.6rem;
  text-align: left;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.border-none {
  border: none !important;
}
